.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_door {
    display: flex;
    /* justify-content: center; */
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 1810px;
    height: 896px;
    margin: 0 auto;
}

.door_one {
    display: flex;
    justify-content: center;
    position: relative;
    float: left;
    width: 423px;
    min-height: 896px;
    color: #fff;
    text-align: center;
    background: url(/public/img/door-one.jpg) no-repeat center;
}

.door_two {
    display: flex;
    justify-content: center;
    position: relative;
    width: 423px;
    min-height: 896px;
    color: #fff;
    text-align: center;
    background: url(/public/img/door-two.jpg) no-repeat center;
}

.door_three {
    display: flex;
    justify-content: center;
    position: relative;
    width: 423px;
    min-height: 896px;
    color: #fff;
    text-align: center;
    background: url(/public/img/door-three.jpg) no-repeat center;
}

.door_four {
    display: flex;
    justify-content: center;
    position: relative;
    width: 423px;
    min-height: 896px;
    color: #fff;
    text-align: center;
    background: url(/public/img/door-four.jpg) no-repeat center;
}

.part_wrap {
    height: 896px;
}

.part {
    padding-top: 220px;
    font-size: 16px;
    color: #fff;
}

.part_tit {
    margin-top: 13px;
    font-size: 40px;
    color: #fff;
}

.part_description {
    margin-top: 23px;
    font-size: 16px;
    color: #fff;
}

.more_btn {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 896px;
}

.btn_white {
    display: inline-block;
    min-width: 150px;
    padding: 12px 10px 12px 15px;
    position: relative;
    font-size: 14px;
    line-height: 1;
    margin-top: 406px;
    color: #fff;
    border: 1px solid #fff;
    background: url(/public/img/arrow-white.png) no-repeat 92%;
    text-align: left;
}

.btn_white:hover {
    color: #666666;
    background: #fff url(/public/img/arrow-gray.png) no-repeat 92%;
}